{% extends "base.html" %}
{%block title%}Home{%endblock title%}
{%block script%}
#left { width: 10rem; }
#right { margin-left: 10rem; }
{%endblock script%}

{%block content%}
<!-- <h1>
    "This is the Home Page"
</h1> -->


    <div class="container">
        <nav id="left">
            <div>
                <p class=bottom-three></p>
            </div>
            <form method="POST"
            <div class="btn-group-justified btn-group-sm btn-group-vertical">
                <button type = "submit" class="button" name="action" value="Delivery">Delivery & Return</button>
                <button type="submit" class="button" name="action" value="Inventory">Inventory Management</button>
                <button type="submit" class="button" name="action" value="Order">Order</button>
                <button type="submit" class="button" name="action" value="Package">Package</button>
                <button type="submit" class="button" name="action" value="People">People</button>
                <button type="submit" class="button" name="action" value="Ticket">Ticket Management</button>
            </div>
        </form>
        </nav>
        <div>
            <p class=bottom-three>sd</p>
        </div>
        <main id="right">start</main>
    </div>
{%endblock%}