{% extends "base.html" %}
{%block content%}
<div class="container">
    <main id="right">
        <form method="POST">
            <div class="form-group">
                <input type="id" class="form-control" id="id" name="id" placeholder="Employee ID" />
            </div>
            <div class="form-group">
                <input type="Name" class="form-control" id="Name" name="Name" placeholder="Full Name" />
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email-Id" />
            </div>
            <div class="form-group">
                <input type="dept" class="form-control" id="dept" name="dept" placeholder="Department" />
            </div>
            <div class="form-group">
                <input type="package" class="form-control" id="package" name="package" placeholder="Package" />
            </div>
            <div class="form-group">
                <input type="assets" class="form-control" id="assets" name="assets" placeholder="List of assets" />
            </div>
            <div class="form-group">
                <input type="jdate" class="form-control" id="jdate" name="jdate" placeholder="Joining Date" />
            </div>
            <div class="form-group">
                <input type="address" class="form-control" id="address" name="address" placeholder="Address" />
            </div>
            <div class="form-group">
                <input type="swag" class="form-control" id="swag" name="swag" placeholder="Swags [Optional]" />
            </div>
            <button type="submit" class="button" name="action" value="search">Search</button>
            <button type="submit" class="button" name="action" value="add">Add</button>
            <button type="submit" class="button" name="action" value="delete">Delete</button>
            <button type="submit" class="button" name="action" value="search-all">Search-All</button>
        </form>
        <table BORDER="5" WIDTH="100%" CELLPADDING="4" CELLSPACING="3">
            <thead>
                <tr>
                    <th style="text-align: center"> ID </th>
                    <th style="text-align: center"> Name </th>
                    <th style="text-align: center"> First Name </th>
                    <th style="text-align: center">Last Name</th>
                    <th style="text-align: center">Department</th>
                    <th style="text-align: center">Join Date</th>
                    <th style="text-align: center">Address</th>
                </tr>
            </thead>
            {% if search_list is not none %}
            {% for b in search_list %}
            <tr>
                <td style="text-align: center">{{ b.id }}</td>
                <td style="text-align: center">{{ b.email }}</td>
                <td style="text-align: center">{{ b.first_name }}</td>
                <td style="text-align: center">{{ b.last_name }}</td>
                <td style="text-align: center">{{ b.department }}</td>
                <td style="text-align: center">{{ b.join_date }}</td>
                <td style="text-align: center">{{ b.address }}</td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <tr>
            <td style="text-align: center">No Results</td>
        </tr>
        {% endif %}
    </main>
</div>
{%endblock%}