{% extends "base.html" %}
{%block content%}
<thead>
    <tr>
        <th style="text-align: center">Asset Name</th>
        <th style="text-align: center">Asset ID</th>
    </tr>
</thead>
<tbody>
    {% if search_list is not none %}
    {% for b in search_list %}
    <tr>
        <td style="text-align: center">{{ b.asset_id }}</td>
        <td style="text-align: center">{{ b.asset_name }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td style="text-align: center">No hay sucursales registradas</td>
    </tr>
    {% endif %}
</tbody>
{%endblock%}